h3 Did you know that the most expensive school in the United States is in #{@expensive.state}?<br><small>The #{@expensive.name} costs $#{Stats::number_with_delimiter(@expensive.fees12)} a year and is #{@expensive.affiliation}.</small>

h3 By comparison, the least expensive (not free) school in the United States is in #{@cheap.state}.<br><small>#{@cheap.name} only costs $#{Stats::number_with_delimiter(@cheap.fees12)} a year and is #{@cheap.affiliation}.</small>

- random = School.random_religion
h3 There are #{School.num_religions} different religious affiliations among colleges.<br><small>Including <a href="/religions/#{random}">#{random}</a>.</small>